{% extends 'users/base.html' %}
{% load static %}
{% load mathfilters %}
{% block body %}
<!-- <h1> Home Page for users</h1> -->
<div class="flex justify-center mt-5 p-10">
    <h2 class="text-3xl font-normal mb-2 text-gray-500">My Posts</h2>
</div>
<div class="grid mx-60 p-10 grid cols-1">
    {% for p in posts %}
    <a href="#">
       
        <div class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
            <div class="user-container flex mx-5 my-5">
                <img class="h-10 w-10 rounded-full" src="{{p.user.profile.photo.url}}" alt="image">
                <div class="mx-2 my-2 font-bold">
                    <span class="text-indigo-500">
                        {{p.user}}
                    </span>
                </div>
            </div>
            <img src="{{p.image.url}}" alt="image">

        </div>
        <div class="px-2 py-4">
            <div class="icon-container flex gap-3">
                <a id="{{ p.id }}" class="btn-like">
                    {% if logged_user in p.liked_by.all %}
                        <img class="w-5 h-5" src="{% static 'users/images/redheart.png' %}">
                    {% else %}
                        <img class="w-5 h-5" src="{% static 'users/images/like.png' %}">
                    {% endif %}

                </a>
                <img class="w-5 h-5" src="{% static 'users/images/comment.png' %}">
                <img class="w-5 h-5" src="{% static 'users/images/share.png' %}">

            </div>
        </div>
        <div>
            {% if p.liked_by.count < 1 %}
            {% elif p.liked_by.count == 1 %}
            Liked by {{ p.liked_by.first }}
            {% elif p.liked_by.count > 1 %}
            Liked by {{p.liked_by.first}} & {{ p.liked_by.count|sub:1 }} others
            {% endif %}
        </div>
        <div class="px-2 py-4">
            <div class="font-bold text-xl mb-2">{{p.title}}</div>
            <p class="text-gray-700 text-base">{{p.caption}}</p>
        </div>
        <div class="px-5 py-5">
            {% for c in p.comments.all %}
            <b>{{c.posted_by}}:</b>{{c.body}}
            </br>
            {% endfor %}
        </div>
        <div class="px-5 py-5">
            <form method="post" class="bg-white rounded">
                {% csrf_token %}
                 <div class="flex">
                    <div class="border rounded   mr-10 text-gray-700">
                        {{comment_form.body}}
                     </div>
                     
                        <input type="hidden" name="post_id" id="post_id" value="{{p.id}}">
                        <input type="hidden" name="posted_by" id="posted_by" value="{{logged_user}}">
    
                    
                        <button class="bg-green-500 text-white px-5 py-5" type="submit">Add</button>
                 </div>
                
                 
            </form>
        </div>
    </a>
    {% endfor %}

</div>
<script type="text/javascript">
    // console.log("working")
    window.CSRF_TOKEN = "{{ csrf_token }}"
    $(document).on('click','.btn-like', function(){
        var post_id = this.id;
        // console.log(post_id);
        $.ajax({
            method:"POST",
            url:'/posts/like/',
            data:{post_id:post_id,csrfmiddlewaretoken:window.CSRF_TOKEN}
        })
        window.location.href='http://127.0.0.1:8000/posts/feed/'
    })
</script>
{% endblock %}
